<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amaze.fileutilities">

    <uses-sdk tools:overrideLibrary="linc.com.amplituda, me.zhanghai.android.fastscroll,
        org.opencv, com.mikepenz.aboutlibraries, com.abedelazizshe.lightcompressorlibrary" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission  android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".AppConfig"
        android:banner="@drawable/banner_app"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_normal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="${app_display_name}"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.AmazeFileUtilities"
        android:networkSecurityConfig="@xml/network_security_config"
        android:extractNativeLibs="false"
        tools:replace="android:label, android:theme"
        >
        <activity
            android:name=".home_page.MainActivity"
            android:exported="true"
            android:label="${app_display_name}"
            android:theme="@style/Theme.AmazeFileUtilities"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:launchMode="singleInstance"
            >
            <nav-graph android:value="@navigation/mobile_navigation" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".home_page.WelcomeScreen"
            android:theme="@style/CustomWelcomeScreenTheme"
            android:exported="true"
            />
        <activity
            android:name=".image_viewer.ImageViewerDialogActivity"
            android:exported="true"
            android:label="@string/image_viewer"
            android:excludeFromRecents="true"
            android:theme="@style/Custom.Dialog.Dark.NoStretch"
            android:launchMode="singleInstance"
            >
            <intent-filter
                android:label="@string/intent_image_viewer_dialog"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".image_viewer.ImageViewerActivity"
            android:label="@string/image_viewer"
            android:theme="@style/Theme.AmazeFileUtilities.FullScreen.Dark"
            android:launchMode="singleInstance"
            android:exported="true"
            >
            <intent-filter
                android:label="@string/intent_image_viewer_full_screen"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".image_viewer.editor.EditImageActivity"
            android:label="@string/image_editor"
            android:theme="@style/Theme.AmazeFileUtilities.FullScreen.Dark"
            android:launchMode="singleInstance"
            android:exported="true"
            >
            <intent-filter
                android:label="@string/image_editor"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="action_nextgen_edit" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".video_player.VideoPlayerDialogActivity"
            android:exported="true"
            android:label="@string/video_player"
            android:supportsPictureInPicture="true"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:theme="@style/Custom.Dialog.Dark.NoStretch"
            >
            <intent-filter
                android:label="@string/video_player_dialog"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="video/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".video_player.VideoPlayerActivity"
            android:label="@string/video_player"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.amaze.fileutilitiespip"
            android:theme="@style/Theme.AmazeFileUtilities.FullScreen.Dark"
            android:exported="true">
            <intent-filter
                android:label="@string/video_player_full_screen"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="video/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".audio_player.AudioPlayerDialogActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/Custom.Dialog.Dark"
            android:launchMode="singleInstance">
            <intent-filter
                android:label="@string/amaze_audio_player"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="audio/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".docx_viewer.DocxViewerActivity"
            android:exported="true"
            android:label="@string/docx_viewer"
            android:theme="@style/Theme.AmazeFileUtilities"
            android:launchMode="singleInstance">
            <intent-filter
                android:label="@string/docx_viewer"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home_page.ui.options.AboutActivity"
            android:exported="true"
            android:theme="@style/Custom.Dialog.Dark"
            android:launchMode="singleInstance">
        </activity>

        <activity android:name="com.amaze.fileutilities.crash_report.ErrorActivity"
            android:theme="@style/Theme.AmazeFileUtilities"
            android:configChanges=""
            android:label="Error"
            android:launchMode="singleInstance"
            android:exported="true"
            />

        <activity android:name=".home_page.ui.settings.PreferenceActivity"
            android:theme="@style/Theme.AmazeFileUtilities.Dark"
            android:configChanges=""
            android:label="@string/settings"
            android:launchMode="singleInstance"
            android:exported="true"
            />
        <activity
            android:name="com.mikepenz.aboutlibraries.ui.LibsActivity"
            android:theme="@style/CustomAboutLibrariesStyle" />

        <service
            android:name=".audio_player.AudioPlayerService"
            android:description="@string/audio_player_service_description"
            android:enabled="true"
            android:exported="true">


            <!--
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
            -->
        </service>

        <service
            android:name=".cast.cloud.CloudStreamerService"
            android:description="@string/cloud_streamer_service_description"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".audio_player.MediaButtonIntentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.amaze.fileutilities.cast.CastOptionsProvider" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,face" />
    </application>

</manifest>